*{
    margin:0px;
    padding:0px;
}

.main{
    background-image: url('tree_img.css');
    height: 180%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
    position:fixed;
}

.nav_section{
    background-color: black;
    margin-left: 30px;
    padding-top: 5px;
}
.nav_section b{
    font-size: 35px;
    color:#fa7346;
    margin-left: 20px;
}
.nav_section i{
    background-color:#fa7346;
    border-radius: 20px;
    margin-left: 10px;
}
.nav_section a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    padding-left: 65px;
    transition :0.3s ease-in-out;
    font-family: arial;
}
.nav_section a:hover{
    color:orangered;
    width:10px;
}
.search_bar{
    margin-left: 40px;
    padding: 3px;
    background: transparent;
}
.btn{
    margin-left: 10px;
    padding: 7px;
    width: 80px;
    background-color:#fa7346;
    border-radius: 50px;
    color: white;
    font-family: times new roman;
    height:40px;
    background-color: #fa7346;
}
.btn:focus{
    outline:none;
}
.search_bar{
    outline: none;
}
.content{
    margin-top: 85px;
    margin-left: 45px;
}
.content h1{
    color: white;
    line-height: 43px;
}
.content span{
    color:#fa7346;
}
.para{
    color: white;
    line-height: 25px;
}
.join{
    margin-top: 10px;
    padding: 5px;
    width: 90px;
    color: white;
    background-color:#fa7346;
    height: 35px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px orange;
}
.join a{
    text-decoration: none;
    color: black;
}
.join:hover{
    background-color:white;
    transition:0.4s
}
.submain{
    display:flex;
}
.login{
    margin-left: 230px;
    margin-top: 100px;
    background-color: black;
    height: 400px;
    width: 350px;
}
.log{
    margin-top: 35px;
    margin-left: 60px;
    padding: 10px;
    width: 214px;
    color: #fa7346;
    font-style: bold;
    font-size: medium;
    font-weight: 600;
    border: solid 1px white;
    border-radius: 13px;
    height:35px;
}
.input{
    margin-top: 40px;
    margin-left: 40px;
    
}
.input1{
    padding: 10px;
    color: white;
    width: 250px;
    border: solid 2px #fa7346;
    border-radius: 5px;
    background-color: transparent;
}
.input2{
    padding: 10px;
    color: white;
    width: 250px;
    border: solid 2px #fa7346;
    border-radius: 5px;
    background-color: transparent;  
}
.log1{
    margin-top: 25px;
    margin-left: 60px;
    padding: 10px;
    width: 214px;
    color: black;
    font-style: bold;
    font-size: medium;
    font-weight: 600;
    border: solid 1px #fa7346;
    border-radius: 13px;
    height: 35px;
    background-color: #fa7346;
    font-family: sans-serif;
}
.log1:hover{
    color:orange;
    cursor:pointer;
}
.last{
    color: white;
    margin-left: 85px;
    margin-top: 9px;
    padding: 5px;
    font-weight: 400;

}
.signin{
    font-style: oblique;
    margin-left: 35px;
    padding-top: 5px;
    cursor:pointer;
}
.signin:hover{
    color:#fa7346;
}
.end{
    margin-left: 35px;
    margin-top: 10px;
    font-weight: 700;
}
.icons{
    color: white;
    margin-left: 65px;
    margin-top: 10px;
}
.icons i{
    padding: 10px;
    border-radius: 150px;
    font-weight: 1000;
}
.icons i:hover{
    color:#fa7346;
}